<%- include('header.ejs') %> 
    <div id="contentHolder"></div>
    <div id="tempStore" class="hid"><%=json_content%></div>
    <div id="searchField" class="hid"><%=searchText%></div>
</body>
<script src="/js/<%= scriptFile %> "></script>
</html>